<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='home_style.css' rel='stylesheet' type='text/css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		{{> navbar}}

		<div class='text'>
			<h1>Welcome {{username}}</h1>
		</div>

		<div id="outerMain">
			<div id="innermain">
				<div class='text'>
					<h3><b>Your Shopping Lists:</b></h3>
					<button class='button' id='addList'>Create a new list</button>
				</div>

				<div>
					<form id='radioForm' action="/listPage" method="post">
					{{#each lists as |list|}}
						<input id="{{list.name}}" type="radio" name="radioList" value='{{list.name}}'><label for='{{list.name}}'>{{list.name}}</label><br>
					{{/each}}
					{{#if lists.length}}
						<input class='button' id='sendButton' type='submit' value='Open list'>
					{{/if}}
					</form>
					{{#if lists.length}}
						<button class='button' id='delList'>Delete list</button>
					{{/if}}
				</div>
			</div>
		</div>
		<script src='home_js.js'></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</body>
</html>